<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Ciclos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3">
  <div style="margin-top: 8vh;" *ngIf="!detalles && !tareas">
  <ion-card  style="width: 42vh;margin-left: 3vh;"*ngFor="let ciclo of ciclosArray">
    <img src="https://s1.logaster.com/static/v3/img/products/logo.png"/>
    <ion-card-header>
      <ion-card-title>{{ciclo.Nombre}}</ion-card-title>
      <ion-card-subtitle>{{ciclo.Profesor}}</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-button color="danger" *ngIf="usuario.Rol=='profesor'" (click)="borrarCiclo(ciclo)">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>