<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Profesores</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <div style="margin-top: 3vh;" *ngIf="!detalles && !tareas">
  <ion-card  style="width: 32vh;margin-left: 3vh;"*ngFor="let profesor of arrayProfesores; let i = index">
    <img style="width: 40vh;" [src]="profesor.Foto"/>
    <ion-card-header>
      <ion-card-title>{{profesor.Nombre}}</ion-card-title>
      <ion-card-subtitle>{{profesor.Apellido}}</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-button color="danger" (click)="eliminarUsuario(profesor)">Eliminar</ion-button>
    </ion-card-content>
    <div *ngIf="i == arrayProfesores.length - 1">
      <br>
    </div>
  </ion-card>
</div>
</ion-content>