<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Profesores</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <div style="margin-top: 8vh;" *ngIf="!detalles && !tareas">
  <ion-card  style="width: 40vh;margin-left: 3vh;"*ngFor="let profesor of arrayUsuarios">
    <img src="https://s1.logaster.com/static/v3/img/products/logo.png"/>
    <ion-card-header>
      <ion-card-title>{{profesor.Nombre}}</ion-card-title>
      <ion-card-subtitle>{{profesor.Apellido}}</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-button color="danger" (click)="eliminarUsuario(profesor)">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>